@import "../../assets/styles/variables";

.SideNav {
  background-color: $sidenav;
  flex-basis: 240px;

  a {
    text-decoration: none;
  }
}

.menu {
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;

  &__item {
    a, div {
      color: white;
      cursor: pointer;
      display: block;
      padding: 16px;

      &:hover {
        background-color: lighten($sidenav, 5%);
      }
    }

    div {
      display: flex;
      justify-content: space-between;
    }
  }

  // Submenus
  .menu {
    margin-left: 8px;
  }
}
